:root {
    --mainColor: rgb(105, 34, 27);
    --subColor: rgb(184, 57, 48);
    --listCardColor: rgb(233, 108, 98);
    --yellow: rgb(255,248,194);
    --yellowText: rgb(102, 88, 46);
    --darkRed: #351519;
}

body {
    width: 1200px;
    margin: 0 auto;
    background-color: var(--mainColor);
}

input{
    outline: none;
    background: none;
    color: white;
    border: 0px;
}

input[type=radio]{
    display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 120px 280px 280px 180px;
}

h1{
    color: white;
    margin: 40px 0 20px 40px;
}

.glassMorphism {
    background: rgba(255, 0, 0, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(255, 0, 0, 0.68);
}

.cardDiv {
    background-color: var(--darkRed);
    border-radius: 30px;
    padding: 25px;
    margin: 10px;
    color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
}

.smallCard{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title {
    border-radius: 30px;
    padding: 25px;
    margin: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);

    width: 820px;
    height: 380px;

    grid-column: 1/2;
    grid-row: 1/4;

    padding: 30px;
    position: relative;
    background: rgb(2,0,36);
    background: linear-gradient(88deg, var(--subColor) 0%, var(--listCardColor) 68%, rgba(0, 0, 0, 0) 69%, rgba(0, 0, 0, 0) 100%);
}

#title>img{
    position: absolute;
    right: 0;
    bottom: -150px;
    transform: scale(1.75) translate(0px, 19px);
    clip-path: inset(0 0 220px 0); 
    filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.4));

    pointer-events: none;
}

#title>#GAME_TITLE{
    position: absolute;
    border: 0px;
    border-left: 3px solid white;
    border-right: 3px solid white;
    font-size: 80px;
    text-align: center;
    width: 50%;
    top: 35%;
    margin: 20px;
}

#title>.button-set{
    display: flex;
    gap: 10px;
}

#title>.button-set>*{
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

#title>.button-set>h3{
    background-color: rgb(255,248,194);
    padding: 10px;
    color: var(--yellowText);
    border-radius: 30px;
    /* text-align: right; */
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

#title>.button-set>h3>img{
    width: 20px;
    height: 20px;
    object-fit: cover;
    fill: var(--yellowText);
    margin: 5px;
}

#title>.button-set>label{
    width: 50px;
    height: 50px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.5s;

}

#title>.button-set>label:hover{
    transition: all 0.5s;
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

#title>.button-set>label>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    fill: white;
    color: white;
}

#teamCount {
    grid-column: 2/3;
    grid-row: 3/5;
    
    display: flex;
    justify-content: center;
    position: relative;
    padding: 40px;
}
#teamCount>div:nth-of-type(2){
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 190px; height: 200px;
    background-color: var(--darkRed);
    border-radius: 50%;

    filter: drop-shadow(0 0 10px var(--listCardColor)) drop-shadow(0 0 30px var(--listCardColor)); 
    border: 15px solid var(--darkRed);
    box-shadow: 0 0 0 3px #62272a inset;
}

#teamCount>div>input{
    text-align: center;
    font-size: 1.5em;
    margin: 10px 0 0 0;
}

#teamCount>div>p{
    text-align: center;
    color: #62272a;
}

#teamCount .countButton{
    font-size: 2em;

    position: absolute;
    bottom: 30px;

    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--listCardColor);
}

#teamCount .countButton:hover{
    cursor: pointer;
    filter: hue-rotate(5deg);
}

#teamCount .countButton:last-of-type{
    right: 60px;
}

#teamCount .countButton:first-of-type{
    left: 60px;
}

#teamCount .countButton:last-of-type{
    right: 60px;
}

#hasOrder {
    grid-column: 2/3;
    grid-row: 1/2;
}

#hasOrder p{
    font-size: 0.8em;
    color: #62272a;
}

#hasOrder label{
    display: inline-block;
    cursor: pointer;
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;

    transition: all 0.3s;
}

#hasOrder label:first-of-type:hover{
    transform: scale(1.1);
}

#hasOrder label:last-of-type:hover{
    transform: scale(1.1);

}

#hasOrder input:first-of-type:checked ~ label:first-of-type{
    transform: scale(1.3);

    color: var(--listCardColor);
    transition: all 0.3s;
    filter: drop-shadow(0 0 8px var(--listCardColor)) drop-shadow(0 0 15px var(--listCardColor)); 
    /* text-shadow: -1px 0px var(--darkRed), 0px 1px var(--darkRed), 1px 0px var(--darkRed), 0px -1px var(--darkRed); */
}

#hasOrder input:last-of-type:checked ~ label:last-of-type{
    transform: scale(1.3);

    color: var(--listCardColor);
    transition: all 0.3s;
    filter: drop-shadow(0 0 8px var(--listCardColor)) drop-shadow(0 0 15px var(--listCardColor)); 
}

#POINT_LIST {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    overflow: scroll;
    height: 130px;
    flex-wrap: wrap;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#POINT_LIST::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.pointCard {
    width: 70px;
    height: 70px;
    line-height: 70px;
    color: white;
    margin: 5px;
    font-size: 2em;
    background-color: #B83930;
    text-align: center;
    border-radius: 20%;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.425);
}

.pointCard:not(.pointAppender){
    cursor: not-allowed;
}

.pointAppender{
    display: inline-block;
    transition: all 0.3s;
    background: none;
    cursor: pointer;
    border: 3px dashed white;
    display: flex;
    align-items: center;
}

.pointAppender input{
    width: 100%;
    text-align: center;
    font-size: 1em;
}

.pointAppender:hover{
    transition: all 0.3s;
    background-color: #b83930ce;
    transform: scale(1.05);
}

#itemMenu {
    grid-column: 1/2;
    grid-row: 3/4;

    position: relative;
    align-items: center;
}

#itemList{
    display: flex;
    justify-content: center;
    background-color: white;
}

.itemCard{
    display: inline-block;
    width: 140px;
    height: 140px; 
    line-height: 150px;
    text-align: center;
    margin: 5px;
}

#ALLOWS_ITEM{
    position: absolute;
    top: 30px;
    right: 30px;
}

input.itemCard{

}

#ITEM_NAME_LIST, #ITEM_PROB_LIST{
    position: absolute;
}

#ITEM_NAME_LIST{
    font-size: 2em;
    opacity: 0.1;
}